In [1]:
import pandas as pd
import numpy as np
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException, ElementNotInteractableException, StaleElementReferenceException

In [8]:
# Create a function to scrape job postings
def scraping_jobs(keyword, num_pages):
    
    # Create a list to contain the scraped job posting info
    jobs=[]
    
    # scrape job postings nationwide
    state_names = ["Alaska", "Alabama", "Arkansas", "Arizona", "California", 
               "Colorado", "Connecticut", "Washington, DC", "Delaware", "Florida", 
               "Georgia", "Hawaii", "Iowa", "Idaho", "Illinois",
               "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", 
               "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", 
               "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", 
               "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", 
               "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", 
               "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", 
               "Virginia", "Vermont", "Washington State", "Wisconsin", "West Virginia", 
               "Wyoming"]
    
    # Open Chrome using webdriver
    driver = webdriver.Chrome(r"C:\Users\hannah\chromedriver.exe")
    
    # Go to the job search page in the Glassdoor
    url = "https://www.glassdoor.com/Job/index.htm"
    driver.get(url)
    
    # Enter the job key word 'data analyst' in th search box
    search_job = driver.find_element_by_xpath('//input[@class="keyword"]')
    search_job.send_keys([keyword])
    
    
    for location in state_names:
        
        # Enter the state name in the location box
        search_location = driver.find_element_by_xpath('//input[@class="loc"]')
        search_location.clear()
        search_location.send_keys([location])
    
        # Click the search button
        search_button = driver.find_element_by_xpath('//button[@id="HeroSearchButton"]')
        search_button.click()
        
        page = 1
        
        
        # loop until the page reaches the page number you set
        while page <= num_pages:
            
            # wait until the job postings are completely opened in the screen (4 seconds) 
            time.sleep(4)
            
            # First click the selected job posting
            driver.find_element_by_class_name("selected").click()
            time.sleep(1)
            
            # Close the pop-up window to ask you to log in the site
            try:
                driver.find_element_by_xpath("//*[@id='JAModal']/div/div[2]/span").click()
            except NoSuchElementException:
                pass
        
            # Find the job posting elements (about 30 postings) and store into the 'job_buttons'
            job_buttons = driver.find_elements_by_class_name("jl")
    
            # loop for each jop posting
            for job_button in job_buttons:
                
                # Click the job posting
                try:
                    job_button.click()
                except (ElementNotInteractableException, StaleElementReferenceException):
                    pass
                
                # Wait for the relevant job posting to be downloaded in the screen
                time.sleep(1)
        
                # Scrape the name of the company for the posting
                try:
                    company = driver.find_element_by_xpath('.//div[@class="employerName"]').text.split('\n')[0]
                except IndexError:
                    company = ''
                    
                # Scrape the job title    
                try:    
                    title = driver.find_element_by_xpath('.//div[contains(@class, "title")]').text
                except IndexError:
                    title = ''
                    
                # Scrape the location of the job    
                try:
                    location = driver.find_element_by_xpath('.//div[@class="location"]').text
                except IndexError:
                    location = ''
            
                # Scrape the salary information for the job
                try:
                    salary = driver.find_element_by_xpath('.//div[@class="salary"]/span').text.split()[0]
                except NoSuchElementException:
                    salary = ""
                    
                # Scrape the rating of the company    
                try:
                    rating = driver.find_element_by_xpath('.//span[@class="rating"]').text
                except NoSuchElementException:
                    rating = np.nan
                   
                # Scrape the job description
                try:
                    job_description = driver.find_element_by_xpath('.//div[@class="jobDescriptionContent desc"]').text
                except NoSuchElementException:
                    job_description = ''
                    
                # Open the company info page    
                try:
                    driver.find_element_by_xpath('.//div[@class="tab" and @data-tab-type="overview"]').click()
                    time.sleep(.3)
                    
                    lists=[]
                    
                    # Check what kind of info for the company is in the company info page
                    for i in range(1,len(driver.find_elements_by_xpath('//div[@class="info row"]/div'))+1):
                        s = driver.find_element_by_xpath('//div[@class="info row"]/div[{}]/label'.format(i)).text
                        lists.append(s)
                        
                    # Scrape company size    
                    try:
                        if 'Size' in lists:
                            s = lists.index('Size') + 1
                            size = driver.find_element_by_xpath('//div[@class="info row"]/div[{}]/span[@class="value"]'.format(s)).text
                        else:
                            size = ''
                    except NoSuchElementException:
                        size = ''
                        
                    # Scrape the industry which the company belongs to    
                    try:
                        if 'Industry' in lists:
                            d = lists.index('Industry') + 1
                            industry = driver.find_element_by_xpath('//div[@class="info row"]/div[{}]/span[@class="value"]'.format(d)).text
                        else:
                            industry = ''
                    except NoSuchElementException:
                        industry = ''
                        
                    # Scrape the sector which the company belongs to    
                    try:
                        if 'Sector' in lists:
                            e = lists.index('Sector') + 1
                            sector = driver.find_element_by_xpath('//div[@class="info row"]/div[{}]/span[@class="value"]'.format(e)).text
                        else:
                            sector = ''
                    except NoSuchElementException:
                        sector = ''
                        
                    # Scrape the revenue info     
                    try:
                        if 'Revenue' in lists:
                            r = lists.index('Revenue') + 1
                            revenue = driver.find_element_by_xpath('//div[@class="info row"]/div[{}]/span[@class="value"]'.format(r)).text
                        else:
                            revenue = ''
                    except NoSuchElementException:
                        revenue = ''
                        
                        
                except NoSuchElementException:
                    size = ''
                    industry = ''
                    sector = ''
                    revenue = ''
            
                # Put the scraped info from the job posting into the list named 'jobs'
                jobs.append({'company':company, 
                             'title':title, 
                             'location':location, 
                             'salary':salary, 
                             'rating':rating, 
                             'size':size,
                             'industry':industry,
                             'sector':sector,
                             'revenue':revenue,
                             'job_description':job_description})
            
            page += 1
            
            # Go to the next page
            try:
                driver.find_element_by_xpath('.//li[@class="next"]//a').click()
            except NoSuchElementException:
                break
            
    return pd.DataFrame(jobs)

In [10]:
# Run the function 'scraping_jobs' with the key word 'data analyst' and the page number 3
df = scraping_jobs('data analyst', 3)

In [12]:
df.head(50)

,company,title,location,salary,rating,size,industry,sector,revenue,job_description
0,CTG,DATA CENTER SERVICES ANALYST I,"Anchorage, AK",,3.4,1001 to 5000 Employees,IT Services,Information Technology,$100 to $500 million (USD),CTG is searching for a full time *Data Center ...
1,Manmade Creative Inc,DATA ANALYST and HEALTH,"Anchorage, AK",,NaN,,,,,"Familiarity in analysis reporting, data entry,..."
2,DS Technologies Inc,Data Analyst,Alaska,,5.0,1 to 50 Employees,,,$1 to $5 million (USD),"Hi,Greetings from DSTechnologiesinc!\n\nIam re..."
3,Integrated Statistics,Data Analyst/Modeler,"Anchorage, AK",$48K-$86K,5.0,51 to 200 Employees,"Health, Beauty, & Fitness",Consumer Services,$5 to $10 million (USD),Data Analyst/Modeler Needed\n\nIntegrated Stat...
4,Southcentral Foundation,Data Analyst,"Anchorage, AK",$39K-$68K,3.5,1001 to 5000 Employees,Membership Organizations,Business Services,$100 to $500 million (USD),The Southcentral Foundation (SCF) Data Analyst...
5,National Renewable Energy Lab,Cold Climate Data Researcher / Analyst II (Ala...,"Fairbanks, AK",$67K-$148K,3.9,1001 to 5000 Employees,Energy,"Oil, Gas, Energy & Utilities",Unknown / Non-Applicable,Posting TitleCold Climate Data Researcher / An...
6,Alaska USA Federal Credit Union,"Data Center Services Analyst I, II, III, or Se...","Anchorage, AK",$26K-$48K,3.4,1001 to 5000 Employees,Banks & Credit Unions,Finance,$100 to $500 million (USD),Reports to: Varies by location\n\nFunctions Su...
7,General Communication Inc.,"Analyst, Network Statistical Data","Anchorage, AK",$43K-$101K,3.7,1001 to 5000 Employees,"Cable, Internet & Telephone Providers",Telecommunications,$500 million to $1 billion (USD),GCI's Network Statistical Data Analyst will pr...
8,Alaska USA Federal Credit Union,Data Center Services Analyst II,"Anchorage, AK",$36K-$69K,3.4,1001 to 5000 Employees,Banks & Credit Unions,Finance,$100 to $500 million (USD),Reports to: Varies by location\n\nFunctions Su...
9,Austal USA,HCM Data Analyst,"Mobile, AL",$55K-$94K,3.1,1001 to 5000 Employees,Industrial Manufacturing,Manufacturing,$1 to $2 billion (USD),Any qualified individual with a disability who...
10,McLeod Software,Operations Data Analyst,"Birmingham, AL",$38K-$70K,4.2,201 to 500 Employees,Transportation Management,Transportation & Logistics,$10 to $25 million (USD),McLeod Software is the leading developer and p...
11,CompQsoft,Data Analyst,"Huntsville, AL",$59K-$80K,3.5,51 to 200 Employees,IT Services,Information Technology,$10 to $25 million (USD),"CompQsoft Inc. Established in 1997, headquarte..."
12,HyreU,Data Analyst,Alabama,,1.0,Unknown,,,Less than $1 million (USD),QUALIFICATION REQUIRED Bachelor Degree\nEXPERI...
13,Intrepid,Business/Data Analyst,"Huntsville, AL",$43K-$79K,4.3,51 to 200 Employees,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),Intrepid sets the standard for delivering exce...
14,BBVA,Data Strategy Analyst,"Birmingham, AL",$40K-$65K,3.7,10000+ Employees,Banks & Credit Unions,Finance,$2 to $5 billion (USD),Area:\nDATA\n\nDeadline for applying:\n11/28/2...
15,LMI,Data Analyst - Clearance Required,"Huntsville, AL",$33K-$60K,4.3,1001 to 5000 Employees,Consulting,Business Services,$100 to $500 million (USD),LMI is seeking a skilled Junior Data Analyst i...
16,LSINC Corporation,Intermediate Data Analyst,"Huntsville, AL",,3.8,51 to 200 Employees,Architectural & Engineering Services,Business Services,$10 to $25 million (USD),"LSINC Corporation is a dynamic, innovative fir..."
17,Guardian Credit Union,DATA ANALYST,"Montgomery, AL",$30K-$54K,2.9,51 to 200 Employees,Banks & Credit Unions,Finance,$100 to $500 million (USD),"Role\n\nCombines advanced statistical, analyti..."
18,RiverPoint,Data Analyst,"Plano, AL",,4.0,1 to 50 Employees,Accounting,Accounting & Legal,$5 to $10 million (USD),"The Data Analyst is responsible for, but not l..."
19,22nd Century Technologies,Data Quality Analyst,"Montgomery, AL",$38K-$71K,3.4,1001 to 5000 Employees,IT Services,Information Technology,$25 to $50 million (USD),Job Title: Data Quality Analyst\nLocation: Mon...
20,"S3, Inc",Data Management Analyst,"Huntsville, AL",$30K-$61K,4.0,201 to 500 Employees,Architectural & Engineering Services,Business Services,Unknown / Non-Applicable,Data Management Analyst\nDuty Site\n\n\nRedsto...
21,Northrop Grumman,Data Management Analyst,"Huntsville, AL",$27K-$56K,3.9,10000+ Employees,Aerospace & Defense,Aerospace & Defense,$10+ billion (USD),The Data Management Analyst: Supports business...
22,Motion Industries,Product Information Management (PIM) Data Analyst,"Irondale, AL",$39K-$68K,3.9,5001 to 10000 Employees,Wholesale,Business Services,$2 to $5 billion (USD),SUMMARY\n\nResponsible for executing a structu...
23,LSI Consulting,"LSI Grow, Entry Level SAP Data Migration Analy...",Alabama,,4.7,51 to 200 Employees,Consulting,Business Services,$1 to $5 million (USD),Jumpstart your career with LSI Grow!\n\nAre yo...
24,COLSA,Configuration and Data Management Analyst,"Huntsville, AL",$29K-$59K,4.2,1001 to 5000 Employees,Research & Development,Business Services,$100 to $500 million (USD),Tracking Code\n\n5470-987\n\nJob Description\n...
25,COLSA,Data Analyst / Data Engineer,"Huntsville, AL",$47K-$84K,4.2,1001 to 5000 Employees,Research & Development,Business Services,$100 to $500 million (USD),General Summary\n\nPerforms analyst functions ...
26,East Alabama Medical Center,CIN DATA ANALYST - DATA INTEGRITY,"Opelika, AL",$34K-$59K,3.6,1001 to 5000 Employees,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),Position Name\n\n18400 – CIN Data Analyst\n\nP...
27,Rezult Technology,Financial Data Analyst,"Birmingham, AL",,4.9,201 to 500 Employees,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,Posted Date: 11/26/2019\nJob Category: Computi...
28,Auburn University,"Spec IV, Info Tech (Business Analyst - Data Ma...","Auburn, AL",$32K-$64K,4.5,5001 to 10000 Employees,Colleges & Universities,Education,$500 million to $1 billion (USD),Position Details\n\nRequisition Number S461P\n...
29,"WILL Technology, Inc.",Data Analyst,"Huntsville, AL",,2.7,51 to 200 Employees,,,$5 to $10 million (USD),"WILL Technology, Inc. (WTI) has an immediate n..."
30,BBVA,"Data Strategy Analyst, Sr","Birmingham, AL",$49K-$80K,3.7,10000+ Employees,Banks & Credit Unions,Finance,$2 to $5 billion (USD),Area:\nDATA\n\nDeadline for applying:\n11/28/2...
31,Leonardo DRS,Data Management Analyst,"Huntsville, AL",$29K-$60K,3.6,5001 to 10000 Employees,Aerospace & Defense,Aerospace & Defense,$1 to $2 billion (USD),Job ID : 99487\n\nThe Leonardo DRS Land Electr...
32,Daylight Solutions,Data Management Analyst,"Huntsville, AL",,4.8,51 to 200 Employees,Aerospace & Defense,Aerospace & Defense,$25 to $50 million (USD),Job ID: 99487\n\nThe Leonardo DRS Land Electro...
33,Unclaimed Baggage Center,Senior Data Analyst,"Scottsboro, AL",,3.4,51 to 200 Employees,,,Less than $1 million (USD),*** There are no funds for relocation for this...
34,Tetra Tech,Data Quality Analyst (Baldwin Co),"Daphne, AL",$35K-$61K,3.7,10000+ Employees,Architectural & Engineering Services,Business Services,$2 to $5 billion (USD),Are you ready to take the next step in your ca...
35,"deciBel Research, Inc.",Radar Data Analyst: BGI,"Huntsville, AL",,3.4,51 to 200 Employees,Aerospace & Defense,Aerospace & Defense,Unknown / Non-Applicable,deciBel Research has an immediate opening for ...
36,University of Alabama at Birmingham,Data Analyst-GME,"Birmingham, AL",$33K-$60K,4.2,10000+ Employees,Colleges & Universities,Education,$1 to $2 billion (USD),"To design, maintain, and troubleshoot the Grad..."
37,M1 Support Services,Maintenance Data Analyst - Air Force Project,"Fort Rucker, AL",$44K-$80K,3.9,51 to 200 Employees,,,$5 to $10 million (USD),_Maintenance Data Analyst – Air Force Project_...
38,DISYS,Jr. Data Analyst or Technician,"Hoover, AL",$41K-$77K,3.4,1001 to 5000 Employees,IT Services,Information Technology,$100 to $500 million (USD),Qualifications: *\nProblem Solving\nRelational...
39,Shipt,Data Analyst - Retail,"Birmingham, AL",$36K-$68K,3.7,1001 to 5000 Employees,Consumer Product Rental,Consumer Services,Unknown / Non-Applicable,Shipt is a membership-based marketplace that h...
40,LSI Consulting,SAP Data Migration Analyst (US citizen or Perm...,Alabama,,4.7,51 to 200 Employees,Consulting,Business Services,$1 to $5 million (USD),Responsibilities\nAccountable for the successf...
41,Better Hire,Data Analyst-cool company,"Birmingham, AL",$26K-$71K,4.0,1 to 50 Employees,,,Less than $1 million (USD),We are looking for a Data Analyst who can crea...
42,UAB Medicine,Data Analyst-GME (Day,"Birmingham, AL",$38K-$68K,3.9,10000+ Employees,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,Data Analyst-GME (Day) #002\n(T179348)\nTo des...
43,ATJ,Senior Data Analyst Newspapers,"McMullen, AL",,4.4,1001 to 5000 Employees,Consulting,Business Services,$5 to $10 million (USD),IMPORTANT NOTE: ATJ is not a real company. It ...
44,UAB Medicine,Data Analyst-GME,"Birmingham, AL",$38K-$68K,3.9,10000+ Employees,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,"To design, maintain, and troubleshoot the Grad..."
45,LOCKHEED MARTIN CORPORATION,Production Systems Analyst / Data Analysis /,"Troy, AL",$35K-$66K,3.9,10000+ Employees,Aerospace & Defense,Aerospace & Defense,$10+ billion (USD),Lockheed Martin Missiles and Fire Control’s (M...
46,Lockheed Martin,Production Systems Analyst / Data Analysis / T...,"Troy, AL",$35K-$66K,3.9,10000+ Employees,Aerospace & Defense,Aerospace & Defense,$10+ billion (USD),Description:Lockheed Martin Missiles and Fire ...
47,Sanmina,Senior Data Analyst,"Huntsville, AL",$41K-$70K,3.1,10000+ Employees,Electrical & Electronic Manufacturing,Manufacturing,$5 to $10 billion (USD),Sanmina Corporation (Nasdaq: SANM) is a leadin...
48,Shipt,Data Analyst - CPG,"Birmingham, AL",$34K-$65K,3.7,1001 to 5000 Employees,Consumer Product Rental,Consumer Services,Unknown / Non-Applicable,Shipt is a membership-based marketplace that h...
49,Shipt,"Data Analyst, CPG","Birmingham, AL",$34K-$65K,3.7,1001 to 5000 Employees,Consumer Product Rental,Consumer Services,Unknown / Non-Applicable,Shipt is a membership-based marketplace that h...

In [15]:
# Store the scraped job posting info as the csv file
df.to_csv(r'...\glassdoor_data_analyst.csv', index=False)